<div class="row">
    <div class="column">
      
      <img src="/assets/img/card-1.jpg" alt="Snow" style="width:80%">
      
      <div class="card-body">
        
        <p class="card-text">Mark Rieder</p>
        <h4>
          Head of Innovation
          NFP</h4>
        
      </div>
    </div>
    <div class="column">
      <img src="/assets/img/card-1.jpg" alt="Forest" style="width:80%">
      <div class="card-body">
        <p class="card-text">Abhishek Mishra</p>
        <h4>
          Vice President, Product Management
          Swiss Re</h4>
    </div>  
  </div>

  




  <div class="row">
    <div class="column">
      <img src="/assets/img/card-1.jpg" alt="Snow" style="width:80%">
      <div class="card-body">
        <p class="card-text">Jennifer Wilson</p>
        <h4>
          SVP, Cyber Claims Leader
          Newfront      
          </h4>
        
      </div>
    </div>
    <div class="column">
      <img src="/assets/img/card-1.jpg" alt="Forest" style="width:80%">
      <div class="card-body">

        <p class="card-text">Jennifer Wilson</p>
        <h4>
          SVP, Cyber Claims Leader
          Newfront      
          </h4>
    </div>
  </div>


  <div class="row">
    <div class="column">
      <img src="/assets/img/card-1.jpg" alt="Snow" style="width:80%">
      <div class="card-body">
        <p class="card-text">Anne-Marie Connell</p>
        <h4>
          Founder
          Talkinsurtech</h4>
        
      </div>
    </div>
    <div class="column">
      <img src="/assets/img/card-1.jpg" alt="Forest" style="width:80%">
      <div class="card-body">
       
        <p class="card-text">Christina Villena</p>
            <h4>
              Vice President-Risk Solutions
              The Hanover Insurance Group</h4>
    </div>
  </div>

  
  <div class="row">
    <div class="column">
      <img src="/assets/img/card-1.jpg" alt="Snow" style="width:80%"  class="card-img-top">
      <div class="card-body">
        <p class="card-text">Vinita Jajware-Beatty</p>
        <h4>

          President
          Toronto Insurance Women's Association (TIWA)</h4>
        
      </div>
    </div>
    <div class="column">
      <img src="/assets/img/card-1.jpg" alt="Forest" style="width:80%"   class="card-img-top">
      <div class="card-body">
        <p class="card-text">
            Tracey Sharis</p>
          <h3>

            President, GRS North America Programs
            Liberty Mutual Insurance | Ironshore</h3>
    </div>
  </div>

  